.footerArea {
  padding: 40px 0;
  background: black !important;
  @media (max-width: 1500px) {
    padding: 25px 0;
  }
  p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #ffffff;
    letter-spacing: 0;
    @media (max-width: 600px) {
      text-align: center;
    }
    @media (max-width: 1500px) {
      font-size: 16px;
    }
    strong {
      font-weight: 600;
      letter-spacing: 0;
    }
  }
  ul {
    text-align: right;
    @media (max-width: 600px) {
      text-align: center;
      margin-top: 10px;
    }
    li {
      display: inline-block;
      width: auto;
      padding: 0;
      &:first-child a{
        padding-left: 0;
        margin-left: 0;
      }
      a {
        font-family: Hind Vadodara;
        display: block;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        color: #ffffff;
        letter-spacing: 0;
        margin-left: 20px;
        padding-left: 20px;
        border-left: 2px solid #fff;
        line-height: 16px;
        text-decoration: none;
        transition: all 0.3s ease 0s;
        @media (max-width: 1500px) {
          font-size: 16px;
        }
        &:hover {
          text-decoration: none;
          color: #d1e7ff;
        }
      }
      &:first-child a {
        border: none;
      }
    }
  }
}
