.mainHeadeArea {
  @media (max-width: 991px) {
    padding-top: 10px;
  }
  .logoWrap {
    @media (max-width: 480px) {
      text-align: center;
    }
    img {
      max-width: 156px;
      @media (max-width: 1024px) {
        max-width: 138px;
      }
    }
  }
  .mainMenu {
    display: block;
    margin: 0;
    padding: 0;
    .menuItem {
      display: inline-block;
      width: auto;
      padding: 0;
      margin: 0;
      &:first-child a {
        padding-left: 0;
      }
      a {
        text-decoration: none;
        color: rgba(255, 255, 255, 0.6);
        font-family: Hind Vadodara;
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 25px;
        letter-spacing: 0;
        padding: 29px 20px;
        display: block;
        border-top: 4px solid transparent;
        @media (max-width: 1500px) {
          padding: 29px 16px;
        }
        @media (max-width: 1200px) {
          padding: 25px 13px;
        }
        &.active {
          color: #fff;
          border-color: #fff;
        }
      }
    }
  }
  .profileMenu {
    text-align: right;
    @media (min-width: 600px) and (max-width: 991px) {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
    @media (max-width: 480px) {
      text-align: center;
      margin-top: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .profileBtn {
      &:hover {
        background: transparent;
      }
      .userImage {
        height: 40px;
        width: 40px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 10px;
      }
      .userName {
        font-family: Hind Vadodara;
        font-weight: 600;
        font-size: 17px;
        line-height: 25px;
        color: #ffffff;
        text-transform: capitalize;
        letter-spacing: 0;
        @media (max-width: 1200px) {
          font-size: 16px;
        }
      }
      i {
        color: #fff;
        margin-left: 10px;
        font-size: 18px;
      }
    }
  }
}
.profileMenuList {
  width: 150px;
  li {
    padding: 4px 15px;
    display: block;
    a,
    button {
      text-align: left;
      display: block;
      margin: 0;
      padding: 0;
      color: #444;
      text-decoration: none;
      font-size: 14px;
      font-family: Hind Vadodara;
      text-transform: capitalize;
      font-weight: 400;
      width: 100%;
      &:hover {
        color: #7d75fd;
        background: transparent;
      }
      span {
        font-family: Hind Vadodara;
        color: #444;
        text-decoration: none;
        font-size: 14px;
        font-weight: 400;
        &:hover {
          color: #7d75fd;
        }
      }
    }
  }
}

.sidebarMenu {
  background: linear-gradient(
    360deg,
    rgba(98, 88, 251, 1) 0.75%,
    rgba(134, 126, 255, 1) 100%
  );
  position: fixed;
  left: -300px;
  top: 0;
  width: 280px;
  height: 100vh;
  z-index: 9999;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  transition: left 0.3s ease 0s;
  &.showSidebar {
    left: 0;
  }
  ul {
    height: 100%;
    overflow-y: auto;
    padding: 0;
    li {
      padding: 0;
      display: block;
      height: auto;
      a {
        display: block;
        padding: 17px 15px;
        text-decoration: none;
        color: #fff;
        font-size: 17px;
        font-weight: 500;
        font-family: Hind Vadodara;
        font-style: normal;
        cursor: pointer;
        &:hover,
        &.active {
          background: #736cf1;
        }
      }
    }
  }
}
.backDrop {
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  background: transparent;
  cursor: pointer;
  display: none;
  opacity: 0;
}
.showSidebar {
  .backDrop {
    display: block;
  }
}

.hamBurger {
  cursor: pointer;
  margin-left: 20px;
  padding: 0;
  height: 40px;
  width: 40px;
  background: #665de4;
  i {
    color: #fff;
    font-size: 20px;
  }
}
