.accountArea {
  padding: 100px 0px;
  @media (min-width: 768px) and (max-width: 991px) {
    padding: 80px 0;
  }
  @media (max-width: 767px) {
    padding: 70px 0;
  }

  .container {
    .accountImage {
      background: linear-gradient(315deg, #3B3363 0%, #2C254A 74%);
      backdrop-filter: blur(20px);
      min-height: 734px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      padding: 0 13%;
      @media (min-width: 1201px) and (max-width: 1599px) {
        min-height: 615px;
      }
      @media (min-width: 992px) and (max-width: 1200px) {
        min-height: 350px;
      }
      @media (min-width: 768px) and (max-width: 991px) {
        min-height: 300px;
      }
      @media (max-width: 767px) {
        min-height: 250px;
      }
      p{
        margin-top: 40px;
        color: #FFFFFF;
        font-size: 20px;
      }
      .logo-left{
        display:flex;
        flex-direction: row;
        justify-content: center;
        span{
          font-size: 20px;
          font-weight: bold;
          color: white;
          margin-top: 45px;
          margin-left: 10px;
        }
      }
    }

    .accountContent {
      background: #fff;
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      min-height: 734px;
      padding: 35px 100px 40px;
      @media (min-width: 1201px) and (max-width: 1599px) {
        min-height: 615px;
      }
      @media (min-width: 992px) and (max-width: 1200px) {
        min-height: auto;
        padding: 60px 15px;
      }
      @media (min-width: 768px) and (max-width: 991px) {
        min-height: auto;
        padding: 50px 15px;
      }
      @media (max-width: 767px) {
        min-height: auto;
        padding: 40px 15px;
      }

      h3 {
        font-size: 26px;
        font-weight: 500;
        color: #343434 !important;
        margin-bottom: 10px;
      }

      p {
        &.text {
          font-size: 15px;
          margin-bottom: 25px !important;

          span {
            color: #666;
          }
        }
      }

      .phoneNumber {
        margin-bottom: 20px;

        .react-tel-input {
          width: 100%;
          height: 57px;
          border: 1px solid #E9E9E9;

          input {
            &.form-control {
              width: 100%;
              height: 100%;
              border: none;
              font-size: 15px;
              padding-left: 70px;
              font-weight: 500;
              color: #666;
            }
          }

          .flag-dropdown {
            width: 60px;
            text-align: left;
            background: #F2F2F2;
            border: none;
            border-radius: 0px;

            .selected-flag {
              width: 100%;
              border-radius: 0px;
              border: none;
              background: #F2F2F2;

              .arrow {
                margin-top: 0px;
                left: 25px;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                border-top: 5px solid #666;

                &.up {
                  border-top: none;
                  border-bottom: 5px solid #666;
                }
              }
            }
          }
        }
      }

      button {
        &.submitButton {
          background: linear-gradient(315deg, #3B3363 0%, #2C254A 74%);
          border-radius: 3px;
          width: 100%;
          height: 55px;
          font-size: 15px;
          font-weight: 600;
          color: #fff;
          text-transform: capitalize;
          margin-bottom: 25px;
        }
      }

      h6 {
        font-size: 15px;
        font-weight: 400;
        color: #666 !important;

        a {
          display: inline-block;
          color: #666;
          text-decoration: none;

          &:hover {
            color: #6258FB;
            text-decoration: underline;
          }
        }
      }

      .forgotPassword {
        text-align: right;
        margin-bottom: 30px;

        a {
          display: inline-block;
          font-size: 15px;
          color: #666;
          text-decoration: none;

          &:hover {
            color: #6258FB;
            text-decoration: underline;
          }
        }
      }

      .codeVarificationInput {
        display: flex !important;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 30px;

        input {
          border: 1px solid #E9E9E9;
          height: 55px;
          width: 85px;
          text-align: center;
          font-size: 15px;
          font-weight: 700;
          color: #666;

          &:focus {
            outline: none;
            border-color: #6258FB;
          }
        }
      }
    }
  }
}

.recaptcha {
  display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}
