.PublicRoute {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100vw;	
	min-height: 100vh;	

	.logo {
		width: 250px;
	}

	.LanguageSwitcher {
		position: absolute;
		top: 25px;
		right: 25px;
	}

}
