.userThumb {
  position: relative;
  label {
    position: relative;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
  }
  img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.userProfile .uploadImage {
  height: 50px;
  width: 100%;
  max-width: 160px;
  background: #f8f8f8;
  border: 0.09rem dashed #e7e5ff;
  box-sizing: border-box;
  border-radius: 1px;
  text-transform: capitalize;
  color: #888;
  input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 9;
    opacity: 0;
    cursor: pointer;
  }
}
body {
  .container {
    .editProfile {
      @media (max-width: 500px) {
        padding: 0;
        margin-top: 30px;
      }
      .inputStyle {
        margin-bottom: 40px;
        fieldset {
          border-radius: 0px;
          border: 1px solid #E9E9E9;
        }
        input {
          font-weight: 600;
          font-family: Hind Vadodara;
          font-style: normal;
          font-size: 15px;
          color: #666666;
        }
      }
    }
  }
  .formSubmitBtn {
    background: black;
    border-radius: 1px;
    height: 65px;
    line-height: 65px;
    color: #fff;
    left: 0;
    width: 207px;
    padding: 0;
    text-transform: capitalize;
    font-weight: 700;
    font-family: Hind Vadodara;
    transition: all 0.3s ease 0s;
    &:hover{
      background: #6258fb;
    }
  }
}
