.breadCrumbs {
  margin-top: 30px;
  @media (max-width: 1200px) {
    margin-top: 10px;
  }
  .breadCrumbInfo {
    div {
      display: flex;
      align-items: center;
      img {
        margin-right: 15px;
        @media (max-width: 1500px) {
          max-width: 25px;
        }
      }
      span {
        font-family: Hind Vadodara;
        font-style: normal;
        font-weight: 600;
        font-size: 28px;
        line-height: 42px;
        color: #ffffff;
        @media (max-width: 1500px) {
          font-size: 22px;
        }
      }
    }
    @media (max-width: 480px) {
      > div {
        display: inline-block;
      }
    }
  }
  .breadList {
    margin-top: 8px;
    li {
      padding: 0;
      width: auto;
      display: inline-block;
      font-family: Hind Vadodara;
      font-style: normal;
      font-weight: 500;
      font-size: 15px;
      line-height: 22px;
      color: #ffffff;
      margin-right: 10px;
      @media (max-width: 1500px) {
        font-size: 14px;
      }
      &.active {
        color: rgba(255, 255, 255, 0.7);
      }
      i {
        margin-left: 10px;
      }
    }
  }
  .walletInfo {
    text-align: right;
    @media (max-width: 600px) {
      text-align: left;
      margin-top: 20px;
    }
    @media (max-width: 500px) {
      display: flex;
      justify-content: space-between;
    }
    .walletSingle {
      overflow: hidden;
      display: inline-block;
      margin-left: 50px;
      @media (max-width: 500px) {
        margin-left: 0;
        margin-right: 5px;
      }
      .icon {
        float: left;
        margin-right: 15px;
        @media (max-width: 1500px) {
          max-width: 25px;
          margin-right: 10px;
        }
        @media (max-width: 500px) {
          float: none;
          margin-bottom: 5px;
        }
        img {
          max-width: 100%;
        }
      }
      .content {
        overflow: hidden;
        text-align: left;
        p {
          display: block;
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 27px;
          color: #ffffff;
          @media (max-width: 1500px) {
            font-size: 17px;
          }
          @media (max-width: 500px) {
            font-size: 14px;
          }
        }
        ul {
          padding: 0;
          li {
            display: block;
            font-family: Hind Vadodara;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 27px;
            color: #ffffff;
            padding: 0;
            @media (max-width: 1500px) {
              line-height: 21px;
            }
            span {
              font-family: Hind Vadodara;
              display: inline-block;
              color: #0bf506;
              font-weight: 600;
              margin-right: 5px;
              font-size: 16px;
              @media (max-width: 1500px) {
                font-size: 14px;
              }
            }
          }
        }
      }
      &.pending {
        ul li span {
          color: #ffe600;
        }
      }
    }
  }
}
